@import '~normalize.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
$ip5: "only screen and (max-width: 320px)";
$galaxy: "only screen and (max-width: 375px)";
$ip6: "only screen and (max-width: 414px)";
$nexus: "only screen and (max-width: 600px)";
$ipad: "only screen and (max-width: 768px)";
$ipadPro: "only screen and (max-width: 1024px)";
@mixin multiTransition($variable) {
  -webkit-transition: $variable;
  -o-transition: $variable;
  -moz-transition: $variable;
  transition: $variable;
}
@mixin multiTranform($variable) {
  -webkit-transform: $variable;
  -o-transform: $variable;
  -ms-transform: $variable;
  -moz-transform: $variable;
  transform: $variable;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(1,39,63,0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0px rgba(255,222,222,1);
  background:#767777;
  border:1px solid #ccc;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
}


