@import '~normalize.css';
@import '~materialize-css/dist/css/materialize.min.css';

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 10px;
}

body {
  //background-color: #ebebeb;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(1, 39, 63, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0px rgba(255, 222, 222, 1);
  background: #767777;
  border: 1px solid #ccc;
}
.btn-register {
  border: 1px solid $blue;
  padding: 15px 30px;
  border-radius: 4px;
  color: $blue;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  background-color: transparent;
  display: block;
  max-width: 100%;
  margin: 35px auto;
  cursor: pointer;
  text-align: center;
  transition: color 0.4s ease-in;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.4s;
    transform: scale(0.5, 1);
  }
  &:hover {
    color: #ffffff;
    &:before {
      content: '';
      opacity: 1;
      transform: scale(1, 1);
      background-color: $gray;
    }
  }
}
@mixin textP {
  font-size: 1.6rem;
  font-weight: 400;
  color: $dark;
  line-height: 30px;
}
@mixin titleH3 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  color: $blue;
  font-size: 2.8rem;
  margin-bottom: 25px;
}

.sub-menu {
  .menu-item {
    line-height: 40px;
    border-bottom: 1px solid #4f4f4f;
    a {
      &:before {
        @extend .material-icons;
        content: 'chevron_right';
        position: absolute;
        font-size: 2rem;
        bottom: 10px;
        left: 10px;
        transform: translateX(0);
        transition: transform 250ms;
      }
    }
  }
}

/*reason-component*/
.reason {
  &-title {
    @include titleH3;
    margin-bottom: 35px;
  }
  p {
    @include textP;
    .material-icons {
      display: inline-block;
      color: #273c75;
      padding-right: 8px;
      margin-bottom: 6px;
      vertical-align: middle;
    }
  }
  &-register {
    @extend .btn-register;
  }
}

// @import './responsive';
