input, textarea {
  background: none;
  color: #f3e7d0;
  font-size: 1.6rem;
  padding: 1rem 1rem 1rem .5rem;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #f3e7d0;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -15px;
    font-size: 1.2rem;
    color: #e7b960;
  }
  &:focus ~ .bar:before {
    width: 100%;
  }
}

input[type="password"] {
  letter-spacing: 0.3rem;
}

label {
  color: #f3e7d0;
  font-size: 1.6rem;
  font-weight: 600;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 300ms ease;
}

.bg-black {
  background-color: #141519;
  width: 100%;
  height: 190px;
  transform: skewY(1deg);
  transform-origin: bottom right;
  margin-bottom: -5rem;
}
.footer {
  background: url(../images/bg-contact.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  &-title {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.4rem;
    text-align: center;
    &::after {
      content: "";
      position: absolute;
      background-color: #ffffff;
      width: 9rem;
      height: 0.2rem;
      margin-top: 0.5rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    color: $yellow;
    width: 60%;
    margin: 0 auto;
    font-size: 2rem;
    padding-top: 12rem;
    line-height: 3rem;
    &::after {
      width: 45%;
      margin-top: 12rem;
    }
  }
  &-map {
    display: flex;
    padding: 0 12%;
  }
  &-contact {
    color: #ffffff;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
  }
}
.contact {
  &-desc {
    display: flex;
    justify-content: space-around;
  }
  &-icon {
    flex-basis: 10%;
    align-self: center;
    font-size: 1.4rem;
  }
  &-info {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    flex-basis: 85%;
  }
}
.copyright {
  text-align: center;
  font-size: 1.2rem;
  color: $white;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 5rem;
}

#contact-us {
  padding: 12rem 5% 0;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-evenly;
}
.contact {
  &-us {
    display: flex;
    flex-basis: 35%;
    justify-content: space-around;
    flex-direction: column;
    align-self: center;
  }
  &-intro {
    display: flex;
    flex-direction: column;
  }
  &-video {
    padding-bottom: 44%;
  }
  &-link {
    align-self: center;
    margin-top: -12rem;
    padding: 0 3rem;
    color: #5a5a5a;
    background-color: #eace61;
    position: relative;
    transition: box-shadow .6s ease-in-out;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    line-height: 38px;
    border-radius: 40px;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.5);
    &::after {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      animation: sonarEffect 1s ease-out infinite;
    }
    &:hover {
      text-decoration: none;
      box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    }
  }
}
.field {
  position: relative;
  flex-basis: 100%;
  margin-bottom: 6rem;
}
.btn-submit {
  background: #caad3f;
  color: #ffffff;
  font-size: 1.8rem;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-top: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  &:hover {
    background: #dec04d;
    color: #fbf7e8;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }
}

#google-map {
  flex-basis: 60%;
  height: 450px;
}
.marker {
  position: relative;
  span {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: -2rem;
    padding-bottom: 1rem;
    color: $yellow;
    white-space: nowrap;
  }
  img {
    display: inline-block;
    animation: pulse .8s linear infinite alternate;
  }
}



