.product {
  &-component {
    background-color: #f0ffff;
    margin-bottom: -25px;
  }
  margin-bottom: 45px;
  &-link {
    background-color: rgba(231, 249, 255, 0.85);
    display: inline-block;
    width: 100%;
    transition: box-shadow .2s ease-in-out;
    &:hover {
      box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);;
    }
  }
  &-til {
    font-size: 2rem;
    padding: 5px 0;
    text-align: center;
  }
  &-info {
    padding: 5px 18px 20px;
    &-items {
      list-style-type: none;
      font-size: 1.6rem;
      color: $greyDarken1;
      font-weight: 400;
      text-align: right;
      span {
        display: inline-block;
        float: left;
      }
    }
  }
}
