@import '~normalize.css';
@import '~materialize-css/dist/css/materialize.min.css';
$blue: #2196f3;
$blueLighten1: #42a5f5;
$blueLighten2: #68baff;
$blueLighten3: #e1f5fe;
$blueLighten4: #01579b;
$greyDarken1: #424242;
$greyDarken2: #212121;
.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 10px;
}

body {
  background-color: #ebebeb;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(1, 39, 63, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0px rgba(255, 222, 222, 1);
  background: #767777;
  border: 1px solid #ccc;
}

.vinhome {
  &-nav {
    display: flex;
    justify-content: space-around;
  }
  &-logo {
    &-img {

    }
  }
  &-menu {

  }
}
.primary-menu {
  display: flex;
  > li {
    position: relative;
    padding: 3rem 8rem;
    cursor: pointer;
    &:hover {
      .sub-menu {
        display: block;
      }
    }
  }
  a {
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
    position: relative;
  }
}
.primary-menu > .menu-item > a {
  line-height: 28px;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #949494;
    bottom: -10px;
  }
}
.sub-menu {
  position: absolute;
  display: none;
  margin: 7px 0 0;
  background-color: rgba(178, 230, 249, 0.65);
  width: 100%;
  .menu-item {
    line-height: 40px;
    border-bottom: 1px solid #4f4f4f;
    &:last-child {
      border-bottom: none;
    }
    a {
      padding-left: 40px;
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      &:before {
        @extend .material-icons;
        content: 'chevron_right';
        position: absolute;
        font-size: 2rem;
        bottom: 10px;
        left: 10px;
      }
    }
  }

}
.current-menu-item {

}





@import './responsive';
