@import "variable";

.container {
  width: 100%;
  height: 100%;
}

.nav-bar {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 8% 0 2%;
}

.it-bar {
  position: relative;
  width: 33.33%;
  &::before {
    content: attr(data-step);
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #b8b8b8;
    background: #ffffff;
    top: -50px;
    left: 3px;
    text-align: center;
    @include multiTransition(all .3s);
    z-index: 1;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ebf2ee;
    top: -35px;
    left: 5px;
    z-index: -1;
    @include multiTransition(all .3s);
  }
  &:last-child {
    width: auto;
    &::after {
      content: none;
    }
  }
  &.active {
    &::before {
      border-color: #58FF73;
    }
    &::after {
      background: #58FF73;
    }
    .link-bar {
      color: #58FF73;
    }
  }
}

.link-bar {
  text-decoration: none;
  color: #647df7;
  font-weight: 500;
  font-size: 1em;
  @include multiTransition(all .3s);
}

/**
  * @Description:
  */

.cf {
  display: flex;
  justify-content: center;
  &-name {
    width: 45px;
    height: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    position: relative;
    background: #898888;
    @include multiTransition(background .3s);
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #32619c;
      border: 1px solid #1a4172;
      left: -1px;
      top: -1px;
      @include multiTransition(all .3s);
      @include multiTranform(translateX(0));
    }
  }
  &-check {
    display: none;
    &:checked {
      & + label {
        background: #43ffa8;
      }
      & + label:before {
        @include multiTranform(translateX(25px));
      }
    }
  }
}

.cf2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  &-name {
    width: 30px;
    height: 30px;
    background: #a5a5a5;
    border-radius: 2px;
    border: 1px solid #cccccc;
    position: relative;
    @include multiTransition(background .2s);
    &::before {
      content: '';
      width: 14px;
      height: calc(14px / 2);
      border-bottom: 3px solid #ffffff;
      border-left: 3px solid #ffffff;
      position: absolute;
      top: 7px;
      left: 7px;
      transform: rotate(-45deg) scale(0);
      @include multiTransition(transform .2s);
    }
  }
  &-check {
    visibility: hidden;
    &:checked {
      + label {
        background: #29FFC2;
      }
      + label:before {
        transform: rotate(-45deg) scale(1);
      }
    }
  }
}

/**
  * @Description:
  */

.container-box {
  position: fixed;
  bottom: 30px;
  left: 30px;
  @include multiTransition(transform .7s);
  &.open {
    @include multiTranform(translateX(160px));
  }
  &.open .box {
    @include multiTranform(translateY(-160px));
  }
}

.box {
  width: 40px;
  height: 40px;
  background: #FF524B;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  @include multiTransition(transform 1s);
}

@mixin generalMenu() {
  position: absolute;
  width: 26px;
  height: 2px;
  background: #ffffff;
  //transform-origin: 65% 0%;  //C1
  @include multiTransition(transform .3s);
}
.menu {
  @include generalMenu();
  top: 50%;
  left: 7px;
  &::before {
    content: '';
    @include generalMenu();
    top: -7px;
  }
  &::after {
    content: '';
    @include generalMenu();
    top: 7px;
  }
}
//Method 1
/*.container-box {
  &.open {
    .menu {
      background: #FF524B;
      //width: 0;
      &::before {
        transform: rotate(-45deg) translate(-4px, -1px);
      }
      &::after {
        transform: rotate(45deg) translate(-5px, -4px);
      }
    }
  }
}*/
//Method 2
.container-box {
  &.open {
    .menu {
      transform: rotate(-180deg);
      &::before {
        transform-origin: 65% 100%;
        transform: rotate(-45deg) translate(-5px,-7px) scaleX(0.7);
      }
      &::after {
        transform-origin: 65% 100%;
        transform: rotate(45deg) translate(-5px,7px) scaleX(0.7);
      }
    }
  }
}
