@import "variable";
:root {
  --base: red;
}
body {
  background: var(--base);
  font-size: 200%;
  &.in-transition {
    transition: transform 900ms ease;
  }
}
#btn-scroll {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 150px;
}
#targetScroll {
  background: orange;
  margin-top: 600px;
}
#one {
  background: #4146FF;
  padding: 100px;
}
#two {
  background: #4FFF57;
  padding: 100px;
}
#three {
  background: #FF4229;
  padding: 100px;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  background: #a31ee8;
  padding: 15px 0;
  margin-bottom: 100px;
  transition: all .3s;
  position: relative;
  width: 100%;
}
.item {
  margin-right: 30px;
}
.linkItem {
  color: #ffffff;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
#spanHover{
  transition: all 0.8s;
  border-bottom: 4px solid #ea730e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.acitveMenu {
  position: fixed;
}

#img {
  position: relative;
  z-index: -1;
  width: 100%;
  background: rgba(90,90,90,.5);
}
#content {
  height: 750px;
  width: 100%;
  margin-top: -20px;
  position: relative;
  z-index: 1;
  background: #FF7534;
}