extends layouts/index
block configSite
    -
        var config = {
        title: 'Challenge 3'
        }
block main
    nav#cd-vertical-nav
        ul
            mixin listDot(name, id)
                li: a(href=`#section${id}` data-number=id)
                    span.cd-dot
                    span.cd-label=name
            + listDot('Intro', 1)
            + listDot('About', 2)
            + listDot('Features', 3)
            + listDot('Portfolio', 4)
            + listDot('Pricing', 5)
            + listDot('Contact', 6)
    a.cd-nav-trigger.cd-img-replace Open navigation <span></span>
    section#section1.cd-section
        h1 Vertical Fixed Navigation
        a.cd-scroll-down.cd-img-replace(href='#section2') scroll down
    mixin sectionDes(id)
        section#id.cd-section
            p &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;
    +sectionDes('section2')
    +sectionDes('section3')
    +sectionDes('section4')
    +sectionDes('section5')
    +sectionDes('section6')
block footer
