extends layouts/index
block configSite
    -
        var config = {
        title: 'Challenge 1'
        }
block main
    .container
        .nav-bar
            - for(var i = 1; i <= 3; i++)
                li.it-bar(data-step=`${i}`): a.link-bar(href=`step-${i}`) Step #{i}
        .cf
            input.cf-check(type="checkbox" id="confirm")
            label.cf-name(for="confirm")
        .cf2
            input.cf2-check(type="checkbox" id="confirm2")
            label.cf2-name(for="confirm2")
    .container-box
        .box
            span.menu

block footer


