extends layouts/index
block configSite
    -
        var config = {
        title: 'Challenge 2'
        }
block main
    img#img(src="images/webpack-logo.png")
    div#content
    a#btn-scroll(href="#targetScroll") Click Scroll Down
    .menu
        li.item: a.linkItem(href="#") Menu1
        li.item: a.linkItem(href="#") Menu2
        li.item: a.linkItem(href="#") Menu3
        li.item: a.linkItem(href="#") Menu4
        li.item: a.linkItem(href="#") Menu5
        li.item: a.linkItem(href="#") Menu6
    section#targetScroll
        a.linkItem Yay!!!!!
    div#one.divs.one One
        div#two.divs.two Two
            div#three.divs.three Three





block footer
