extends layouts/index
block titleSite
    title Contact
block mainPage
   .contact-site
       .contact-menu
           a(class='contact-menu-info active' href='http://localhost:8080/contact-info.html') info
           a(class='contact-menu-career' href='http://localhost:8080/contact-career.html') career
   .desc-page
       block contactPage


