extends contact
block titleSite
    title Contact Career
block contactPage
    .contact-career
        .career-map
        .career-info
            .career-info-desc
                h3.career-info-til darkhorse architecture
                span.career-info-detail L2 iTower Building, 49 Pham Ngoc Thach Str., D3., HCMC, Vietnam
                span.career-info-detail tel:    12345678
                span.career-info-detail e: &nbsp; &nbsp; &nbsp; andrew.f@darkhorse-architecture.com
                span.career-info-detail w: &nbsp; &nbsp; &nbsp; Darkhorse Architecture.com
            .career-form
                input(type="text" placeholder='Name' class='career-name')
                input(type="text" placeholder='Email' class='career-email')
                input(type="text" placeholder='Title' class='career-title')
                textarea(placeholder='Message' class='career-mess')
                input(type="submit" value='SEND' class='career-submit')
