extends layouts/index
block configSite
    -
        var config = {
        title: 'Challenge 1'
        }
block main
    // Today i'll going to challenge first is make handle bar follow step 1 -> 2 -> 3.
    .container
        .nav-bar
            - for(var i = 1; i <= 3; i++)
              li.it-bar(data-step=`${i}`): a.link-bar(href=`step-${i}`) Step #{i}


block footer
