extends layouts/index
block mainPage
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam architecto at consequatur expedita magnam nihil, numquam optio perferendis quaerat quisquam quo voluptatem? Cupiditate dolore eius illo, neque repudiandae sunt.